.navbar {
	background-color: #13632f;
	font-family: 'Carter One', cursive;
}

.articles {
		font-family: 'Carter One', cursive;

}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.card-horizontal-left {
    display: flex;
    flex: 1 1 auto;
}

.img-city-square-wrapper {
	height: 90px;
	width: 90px;
}

.img-square-wrapper {
	height: 120px;
	width: 120px;
}

.btn-circle.btn-md { 
            width: 50px; 
            height: 50px; 
            padding: 0px 14px; 
            border-radius: 25px; 
            font-size: 30px; 
            text-align: center; 
        } 

.city-pic {
	width: 300px; 
    height: auto;
}

.bg {
  background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).jpg");

  /* Full height */
  height: 50%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.modal.body {
	background-color: green;
/*	background-image: url("/public/images/san-francisco.jpg")
*/}

h1 {
	font-family: 'Carter One', cursive;
}

h2 {
	font-family: 'Carter One', cursive;
}

h3 {
	font-family: 'Carter One', cursive;
}

a {
	font-family: 'Carter One', cursive;
	color: black;
}

p {
	font-family: 'Carter One', cursive;
}
 
/*img {
	border-color: black;
	border-left-style: solid;
  	border-left-color: coral; 
  	border-left-width: thick;
}*/
.cityText {
		display: inline-block;

}

.card-header .title-link {
	color: #13632f;
}

/*the yellow container for the cities list*/
.citiesContainer {
	background-image: url("/images/desert.jpg");
	/*background-color: yellow;*/
}

/*the yellow container for the profile info*/
.userContainer {
	background-image: url("/images/user-trees.jpg");
	/*background-color: yellow;*/
}

.city-name {
	display: inline-block;
}

.city-descript p{
	display: inline-block;
}

.cityImage{
	display: inline-block;
}



body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
	/*background-image: url('header-static.jpg');*/
	background-attachment: fixed;
	/*height: 100vh;*/
	background-repeat: no
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.col-third {
	width: 32%;
}

.col-half {
	width: 49.2%;
}

.grid-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.card-horizontal {
	background-color: white;

}

/* .card-horizontal:active{
	background-color: red;
} */

img {
	max-width: 100%;
}

/*// Mixin itself*/
@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

/*// Usage as a mixin*/
.element {
  @include clearfix;
}

.postCardProfile {
	display: flex;
	justify-content: center;

}

.postCard {
	display: flex;
}

.post-image-container{
	display: flex;
   justify-content: center;
	margin-top: 15px;
	
	
	
}

.profile-post-image {
	/* display: flex;
	flex-shrink: 2; */
	/* height: 25%; */
	/* position: relative;
	height: 50%;
	 */
	 height: 600px;
	 /* object-fit: cover; */

	
}
